<div class="content-width">
  {{#each progs.rows}}
    <h2>
      <span class="time">{{shortTime txTime}}</span>
      <a href="{{link}}">{{episode.title}}</a>
    </h2>
    <p class="synopsis short">{{episode.shortSynopsis}}</p>
    <p class="synopsis medium">{{episode.mediumSynopsis}}</p>
    <p class="synopsis long">{{episode.longSynopsis}}</p>
  {{/each}}
</div>
