<div class="content-width">

  <ul class="slider">
    {{#each around}}
    <li {{#if today}}class="today"{{/if}}>
        {{#if link}}
          <a href="{{link}}">
            <span class="day-name">{{dayName date}}</span>
            <span class="day-number">{{dayNumber date}}</span>
          </a>
        {{else if elipsis}}
          <span>...</span>
        {{/if}}
      </li>
    {{/each}}
  </ul>

  {{#each progs.rows}}
    <h2 id="{{shortTime txTime}}">
      <span class="time">{{shortTime txTime}}</span>
      <a href="{{link}}">{{title}}</a>
    </h2>
    <p class="synopsis short">{{episode.shortSynopsis}}</p>
    <p class="synopsis medium">{{episode.mediumSynopsis}}</p>
    <p class="synopsis long">{{episode.longSynopsis}}</p>
  {{/each}}

</div>
