<div class="content-width">
  <ul class="slider">
    {{#each around}}
      <li class="{{classFlags 'today' 'elipsis' 'missing'}}">
        {{#if link}}
          <a href="{{link}}">
            <span class="day-name">{{dayName date}}</span>
            <span class="day-number">{{dayNumber date}}</span>
          </a>
        {{else if elipsis}}
          <span>...</span>
        {{/if}}
      </li>
    {{/each}}
  </ul>

  <h1>{{service.name}}</h1>
  <h2>{{prettyDate date}}</h2>

  {{#each progs.rows}}
    <h3 id="{{shortTime txTime}}">
      <span class="time">{{shortTime txTime}}</span>
      <a href="{{link}}">{{title}}</a>
    </h3>
    <p class="synopsis short">{{episode.shortSynopsis}}</p>
    <p class="synopsis medium">{{episode.mediumSynopsis}}</p>
    <p class="synopsis long">{{episode.longSynopsis}}</p>
  {{/each}}

</div>
